name: Deploy to UAT

on:
  push:
    branches:
      - "uat"

jobs:
  deploy-uat:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Salesforce CLI
        uses: salesforcecli/action-setup@v2
        with:
          install: "sf"

      - name: Authenticate UAT Org
        run: |
          echo "$UAT_SFDX_AUTH_URL" > sfdx_auth_url.txt
          sf org login sfdx-url --sfdx-url-file sfdx_auth_url.txt --alias UATOrg --set-default
        env:
          UAT_SFDX_AUTH_URL: ${{ secrets.UAT_SFDX_AUTH_URL }}

      - name: Deploy to UAT
        run: |
          sf project deploy start --source-dir force-app --target-org UATOrg --test-level RunLocalTests --wait 30

      - name: Run Apex Tests (optional explicit)
        run: |
          sf apex run test --target-org UATOrg --result-format human --wait 30